<usersform (addUser)="optimisticAdd($event)" (addUserPs)= "pasemisticAdd()"  ></usersform>
<h2>
  Users list
</h2>

<ul class="list-group">
 
  <li  class="list-group-item" *ngFor = "let key of usersKeys">
    
    <button type="button" class="btn btn-danger" (click)="deleteUser(key)">Delete</button>
    <a [routerLink] = "['/user', key]">{{'user number '+key+' '+users[key].username}}</a> 
  </li>
</ul>


