<form [formGroup] = "loginform" (ngSubmit) = "login()">
  <br>
  <div>
    <label for="user">User name</label>
    <input type="text" name = "user" id = "user"
    class = "form-control" formControlName = "user">
  </div>
    <br>
  <div>
  <label for="user">Password</label>
  <input type="text" name = "password" id = "password"
   class = "form-control" formControlName = "password">
  </div>
<div *ngIf = "invalid" class = "alert alert-danger"> Invalid username or password</div>

  <input type="submit" value = "Login"
  class = "btn btn-primary">
</form>   

<div>
  <button (click)="logout()">Logout</button>
</div>