<messagesForm (addMessage)="optimisticAdd($event)" (addMessagePs)= "pasemisticAdd()"  ></messagesForm>
<h2>
  List of messages
</h2>

<ul class="list-group">
<li class="list-group-item" *ngFor = "let key of messagesKeys" >
  <button type="button" class="btn btn-danger" (click)="deleteMessage(key)">Delete</button>
  <button class="btn btn-warning" [routerLink] = "['/updateForm', key]">Update</button>
  <a [routerLink] = "['/message', key]"> {{'message number '+key+' - '+messages[key].body}} </a>
</li><!--> *ngFor is a directive for a loop to go over the messages (array) data. each li will present data from the array</!-->
</ul>