<form [formGroup] = "usersform" (ngSubmit) = "sendData()">
 
  <div ng-app="" ng-init="myCol='lightblue'" >
      <label for="user">Name</label>
      <input type="text" name = "user" id = "user"
       class = "form-control" formControlName = "user">
       <input type="submit" value = "Add new user"
       class = "btn btn-primary"> 
  </div>
    
    
    </form>   